.red {
	background-color: red;
}

.textSize {
    font-size: 1.5em;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
	margin-right: 20px;
}

.move-me{
	float:right;
	margin-right: 20px;
}

.margin-top{
	margin-top: 50px;
}

