<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Bangazon Inc.</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      {% block navbar %}
      <nav class="navbar navbar-inverse">
        <div class="navbar-collapse collapse">

        <!-- Float the ul li to the left with the class below -->
        
          <ul class="nav navbar-nav navbar-left float-left">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'add_product' %}">Sell Products</a></li>
             </ul>

            <!-- Float the ul li to the right with the class below -->

            <ul class="nav navbar-nav navbar-right float-right">
            <li><a>Welcome {{ user.get_username }}!</a></li>
            <li>
             <a href="/order/">
                <span class="glyphicon glyphicon-shopping-cart">({{views.order_detail.products}})</span>
              </a>
            </li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% endblock %}
    </div>
    {% block content %}{% endblock %}
  </div>
  </div>
</body>

</html>
