{% extends "base_generic.html" %}

{% block content %}
	<h1>Bangazon</h1>

	  <p>Welcome to <em>Bangazon!</em>, a family company!  Here to serve your needs!</p>

	<h2>Categories</h2>
	{% for department in departments_list %}
		<ul>
			<li>
		 		<a href="{{ department.get_absolute_url }}">{{ department.label }}</a>
			</li>
		</ul>
		{% endfor %}

	<h2>What we current offer at The Shoppe!</h2>
	  <ul>
	    <li><strong>Current categories:</strong> {{ num_product_types }}</li>
	    <li><strong>Products in stock:</strong> {{ num_products }}</li>
	  </ul>

{% endblock %}
