{% extends "base_generic.html" %}
{% block content %}

    <a href="/products_of_type/{{ product.product_type_id }}">{{ product.product_type }}</a>
    <h1>{{product.name}}</h1>
    <h4>Description: {{ product.description }}</h4>
    <div class="detail-info">Price: ${{product.price}}</div>
    <div class="detail-info">Quantity: {{product.quantity}}</div>    <ul>
    <br />
    <br />
    {% if user.is_authenticated %}
    <form action="/add_product_to_order/{{product.id}}/" method="POST">
    {% csrf_token %}
        <button class="btn-danger">Buy This Product!</button>
    </form>
    {% endif %}
{% endblock %}
